*{
    margin: 0;
}
header, footer{
    background-color: #1f2937;
}
header svg{
    width: 70px;
    height: 70px;
    border: none;
}
a{
    text-decoration: none;
    color: #727ac4;
    font-size: 20px;
    padding: 5px;
}
.header-section-one{
    display: flex;
    padding: 10px 70px 0;
}
.header-links{
    margin-left: auto;
    align-self: center;

}
/* .header-logo{
    font-size: 24px;
    color: #f9faf8;
} */
.header-group{
    max-width: 350px;
}
.header{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}
.content{
    color: #e5e7eb;
    font-size: 20px;
}
.header-button{
    color: #f9faf8;
    background-color: #3882f6;
    padding: 5px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border-color: #3882f6;
    margin-top: 10px;
    margin-bottom: 20px;

}
img{
    width: 680px;
    margin-left: auto;
    max-height: 300px;
    border-radius: 10px;
}
.header-section-two{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 70px 50px;
}
.about{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    margin: 20px;
    text-align: center;
}
svg{
    width: 220px;
    height: 220px;
    /* border: 2px solid #3882f6; */
    border-radius: 5px;
}
.characters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.characters p{
    font-size: 17px;
}
.iron-man, .thor, .captain-america, .black-widow{
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
}
.captain-america{
    order: -1;
}
.section-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    margin-top: 30px;
}
.section-two p{
    width: 400px;
    padding: 30px 30px 0;
    font-style: italic;
    font-size: 25px;
}
.section-two .author{
    align-self: flex-end;
    padding-bottom: 30px;
    font-weight: 700;
}
.section-three{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.sign-up-container{
    width: 1000px;
    height: 150px;
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    padding: 0 100px;

}
.sign-up-contents{
    display: flex;
    flex-direction: column;
    /* padding: 0 30px; */
    color: #e5e7eb;

}
.sign-up-heading{
    font-size: 45px;
    font-weight: 700;
}
.sign-up-content{
    font-size: 20px;
}
.sign-up-container button{
    margin-left: auto;
    height: 45px;
    width: 130px;
    border-radius: 5px;
    border-color: #e5e7eb;
    align-self: center;
    color: #e5e7eb;
    background-color: #3882f6;
    font-size: 20px;
}
footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    color: #e5e7eb;
    font-size: 20px;
}